body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 30px;

}

#layoutAuthentication_content{

  background-image: url(fotos/fundo.jpg);
 background-size: cover;
 background-position: center;

}

#ct{
  background-color: rgba(255, 255, 255, 0.158); /* cor de fundo com transparência */
  backdrop-filter: blur(10px); /* desfoca o conteúdo do body */
  opacity: 1;
  width: 800px;
  height: 590px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

h1 {
  font-size: 3em;
  color: #333;
}

h2 {
  font-size: 2em;
  color: #333;
}

h3 {
  font-size: 1.5em;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000;
  color: #fff;
}

form label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

form input[type="text"], form input[type="password"] {
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

form input[type="text"]:focus, form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.alert {
  background-color: #4be90d;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.alert-danger {
  background-color: #c20f0f;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 12px;
}
