<h1 class="mt-4">Cadastro de Clientes</h1>
<ol class="breadcrumb mb-4  custom-breadcrumb" >
    <li class="breadcrumb-item active">{{cliente.id ? 'Atualize Cliente' : "Preencha as informações pedidas abaixo para se cadastrar"}}</li>
</ol>
<div class="container">



  <form #clienteform="ngForm" (ngSubmit)="onSubmit()">

    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">

      <span> Cliente salvo/atualizado com sucesso</span>
      <svg viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"  width="1.5em">
        <path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zM4.14 8.032a.5.5 0 01.658-.76l2.833 2.5 5.285-5.01a.5.5 0 01.658.76l-5.643 5.333a.5.5 0 01-.657 0L4.14 8.032z"/>
      </svg>
    </div>

    <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
      {{erro}}
    </div>

    <div class="row" *ngIf="cliente.id">
      <div class="col-md-4">
        <div class="form-group">
          <label>ID: </label>
          <input type="text" class="form-control" disabled="true" style="border-radius: 8px;
          box-shadow: 2px 2px 2px rgb(19, 18, 18);" [ngModel]="cliente.id" name="id">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Data Cadastro: </label >
          <input type="text" class="form-control" disabled="true" style="border-radius: 8px;
          box-shadow: 2px 2px 2px rgb(19, 18, 18);"  [ngModel]="cliente.dataCadastro" name="dataCadastro">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Nome: * </label>
          <input type="text" class="form-control" style="border-radius: 8px;" [(ngModel)]="cliente.nome" name="nome">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>CPF:* </label>
          <input type="text" class="form-control" style="border-radius: 8px;" [(ngModel)]="cliente.cpf" name="cpf">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success" *ngIf="!cliente.id" >
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="cliente.id" >
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>
      </div>
    </div>
      <br>
    <div class="row">
    <div class="col-md-1">
      <button type="button" routerLink="/clientes/lista"  class="btn btn-danger" >
        <i class ="fas fa-arrow-alt-circle-left"></i> Retorna a Lista
      </button>
    </div>
  </div>

  </form>
<br>



